<footer class="page-footer">
    <div class="footer-copyright">
        © <%= Time.current.year %> ObiFenix
        <div class="grey-text text-lighten-4 right footer-color">
            <%= link_to 'https://github.com/ObiFenix/' do %>
                <i class="fa fa-github"></i> Github
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/obifenix/' do %>
                <i class="fa fa-linkedin"></i> LinkedIn
            <% end %>
            <%= link_to 'https://portfolio-p3ks1z9oh.now.sh/' do %>
                <i class="fa fa-google-plus-official" style="vertical-align: middle;"></i> MyWebsite+
            <% end %>
        </div>
    </div>
</footer>
